// $background: #2d2d2d;
// $current-line: #393939;
// $selection: #515151;
// $foreground: #cccccc;
// $comment: #999999;
// $red: #f2777a;
// $orange: #f99157;
// $yellow: #ffcc66;
// $green: #99cc99;
// $aqua: #66cccc;
// $blue: #6699cc;
// $purple: #cc99cc;

$background: #ffffff;
$current-line: #efefef;
$selection: #d6d6d6;
$foreground: #4d4d4c;
$comment: #8e908c;
$red: #c82829;
$orange: #f5871f;
$yellow: #eab700;
$green: #718c00;
$aqua: #3e999f;
$blue: #4271ae;
$purple: #8959a8;