body {
  font: 100% $font-stack;
  background-color: $background;
}

section {
  // width: 980px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &.center-content {
    justify-content: center;
  }

  &.v-center {
    align-items: center;
  }
}
